body {
    font-family: Arial, sans-serif;
    margin: auto auto;
    padding: 0;
    text-align: center;
    /* background: linear-gradient(270deg, #b700ff3d, #86017b87); */
    /* background: linear-gradient(270deg, #FFF3B0, #E09F3E); */
    /* background: linear-gradient(270deg, #1d3136e7, #335C67); */
    background: linear-gradient(270deg, #2b6d7de7, #335C67);
    background-size: 200% 200%;
    animation: Gradient 8s ease infinite;
    padding-bottom: 100px;
}

.main-app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer {
    display: inline-block;
    /* background-color: #f8f9fa12; */
    color: #f2f2f2;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

p {
    color: #E6EFE9;
    font-size: 1.2rem;
}
  
h1 {
    color: #1a1a1a;
    text-align: center;
}

h2 {
    color: #1a1a1a;
    font-size: 2.3rem;
    text-align: center;
}

h3 {
    color: #1a1a1a;
    font-size: 1.5rem;
    text-align: center;
}

@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Responsive styles */
@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1, h2, h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #C2EABA; 
}

::-webkit-scrollbar-thumb {
    background: #A7C4A0; 
}

