.game-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#playerVsPlayerButton:disabled {
  display: none; /* Hide the button by default */
}

#playerVsPlayerButton {
  display: inline-block; /* Show the button when it's disabled */
  position: absolute;
  font-size: 3rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#playerVsComputerButton:disabled {
  display: none; /* Hide the button by default */
}

#playerVsComputerButton {
  display: inline-block; /* Show the button when it's disabled */
  position: absolute;
  font-size: 3rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pongCanvas {
  width: 100%;
  background-color: rgba(0, 255, 255, 0.197);
}