.game-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
}

#pongCanvas {
  width: 100%;
  background-color: rgba(0, 255, 255, 0.197);
  position: absolute;
}