.home-content-container-column {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-content-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text-animation {
  font-size: 5rem;
  font-weight: 1000;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
  animation: text-animation 5s ease-in-out infinite;
}

@keyframes text-animation {
  0% {
    color: #dd0ebb;
  }
  25% {
    color: #dd0ebba0;
  }
  50% {
    color: #dd0ebb86;
  }
  75% {
    color: #dd0ebb4a;
  }
  100% {
    color: #dd0ebb00;
  }
}
