.home-content-container-column {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-content-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text-animation {
  font-size: 5rem;
  font-weight: 1000;
  color: #333333;
  text-shadow: 0px 62px 34px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0;
  padding: 0;
  animation: text-animation 8s ease-in-out infinite;
}

@keyframes text-animation {
  0% {
    color: #dd0ebb;
    text-shadow: 0px 12px 34px rgba(0, 0, 0, 0.171);
  }
  10% {
    color: #dd0ebb2c;
    text-shadow: 0px 37px 34px rgba(0, 0, 0, 0.103);
  }
  25% {
    color: #dd0ebba0;
    text-shadow: 0px 42px 34px rgba(0, 0, 0, 0.233);
  }
  50% {
    color: #dd0ebb86;
    text-shadow: 0px 52px 24px rgba(0, 0, 0, 0.151);
  }
  60% {
    color: #dd0ebbb7;
    text-shadow: 0px 56px 34px rgba(0, 0, 0, 0.137);
  }
  75% {
    color: #dd0ebb4a;
    text-shadow: 0px 46px 28px rgba(0, 0, 0, 0.021);
  }
  80% {
    color: #dd0ebb;
    text-shadow: 0px 52px 34px rgba(0, 0, 0, 0.103);
  }
  100% {
    color: #dd0ebb00;
    text-shadow: 0px 40px 34px rgba(0, 0, 0, 0);
  }
}
